<aside class="right-side-panel">
    <div class="row">
        <!-- Weather Widget -->
        <div class="col-md-12 m-t-10">
            <h5 class="text-muted m-b-0">Belo Horizonte - MG</h5>
            <h3><small>Atualizado as</small> {{ weather.results.time }}h.</h3>
            <div class="d-flex m-t-20">
                <div class="display-5 text-info"><i class="{{ weather.results.condition_code|weather_icon }}"></i></div>
                <div class="m-l-20">
                    <h2 class="m-b-0">{{ weather.results.temp }}°</h2>
                    <h6>{{ weather.results.description }}</h6>
                </div>
            </div>
            <hr>
            <table class="table">
                <tr>
                    <td><i class="{{ weather.results.forecast.1.condition|weather_icon }}"></i> {{ weather.results.forecast.1.weekday }}</td>
                    <td class="text-right font-medium">{{ weather.results.forecast.1.min }}° - {{ weather.results.forecast.1.max }}°</td>
                </tr>
                <tr>
                    <td><i class="{{ weather.results.forecast.2.condition|weather_icon }}"></i> {{ weather.results.forecast.2.weekday }}</td>
                    <td class="text-right font-medium">{{ weather.results.forecast.2.min }}° - {{ weather.results.forecast.2.max }}°</td>
                </tr>
                <tr>
                    <td><i class="{{ weather.results.forecast.3.condition|weather_icon }}"></i> {{ weather.results.forecast.3.weekday }}</td>
                    <td class="text-right font-medium">{{ weather.results.forecast.3.min }}° - {{ weather.results.forecast.3.max }}°</td>
                </tr>
            </table>
            <hr>
        </div>
        <!-- End Weather Widget -->
        <!-- Message Widget -->
        <div class="col-md-12 m-t-10">
            <h3 class="p-relative"><span class="lstick"></span> Message<span class="pull-right font-14  p-2 label label-rounded label-success">16</span></h3>
            <div class="msg-widget m-t-20">
                <!-- Message Item -->
                <div class="msg-item">
                    <div class="msg-body">
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        <span class="dwn-aro"></span>
                    </div>
                    <div class="m-t-20 d-flex">
                        <div class="m-pic m-r-20"><img src="{{ asset('assets/images/users/profile.png') }}" alt="user"></div>
                        <div class="author">
                            <h5 class="m-b-0">Mark Freeman</h5>
                            <p class="text-muted font-14">Today 04:12 PM</p>
                        </div>
                    </div>
                </div>
                <!-- Message Item -->
                <div class="msg-item">
                    <div class="msg-body">
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        <span class="dwn-aro"></span>
                    </div>
                    <div class="m-t-20 d-flex">
                        <div class="m-pic m-r-20"><img src="../assets/images/users/4.jpg" alt="user"></div>
                        <div class="author">
                            <h5 class="m-b-0">Mark Freeman</h5>
                            <p class="text-muted font-14">Today 04:12 PM</p>
                        </div>
                    </div>
                </div>
                <!-- Message Item -->
                <div class="msg-item">
                    <div class="msg-body">
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        <span class="dwn-aro"></span>
                    </div>
                    <div class="m-t-20 d-flex">
                        <div class="m-pic m-r-20"><img src="../assets/images/users/2.jpg" alt="user"></div>
                        <div class="author">
                            <h5 class="m-b-0">Mark Freeman</h5>
                            <p class="text-muted font-14">Today 04:12 PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Message Widget -->
        <!-- twitter Widget -->
        <div class="col-md-12 m-t-10">
            <div class="card bg-info text-white">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="stats">
                            <h1 class="text-white">3257+</h1>
                            <h6 class="text-white">Twitter Followers</h6>
                            <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14">Check list</button>
                        </div>
                        <div class="stats-icon text-right ml-auto"><i class="fa fa-twitter display-5 op-3 text-dark"></i></div>
                    </div>
                </div>
            </div>
            <!-- twitter Widget -->
            <!-- twitter Widget -->
            <div class="card bg-primary text-white">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="stats">
                            <h1 class="text-white">6509+</h1>
                            <h6 class="text-white">Facebook Likes</h6>
                            <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14">Check list</button>
                        </div>
                        <div class="stats-icon text-right ml-auto"><i class="fa fa-facebook display-5 op-3 text-dark"></i></div>
                    </div>
                </div>
            </div>
            <!-- facebook Widget -->
            <!-- subscribe Widget -->
            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="stats">
                            <h1 class="">9062+</h1>
                            <h6 class="text-muted">Subscribe</h6>
                            <button class="btn btn-rounded btn-outline btn-secondary m-t-10 font-14">Check list</button>
                        </div>
                        <div class="stats-icon text-right ml-auto"><i class="fa fa-envelope display-5 op-3 text-dark"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- twitter Widget -->
    </div>
</aside>
